@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Ovo&family=Philosopher:wght@700&display=swap');

:root {
  --black: #3a3a3a;
  --white: #ffffff;
  --deep-blue: #5680e9;
  --aqua: #84ceeb;
  --light-blue: #5ab9ea;
  --light-lavender: #c1c8e4;
  --lavender: #8860d0;

  --link-hover: #ffff05;

  --font1: 'Ovo', serif;
  --font2: 'Philosopher', sans-serif;
  --font3: 'Marcellus', serif;
}

body  {
  background-color: var(--aqua);
  color: var(--black);
  font-family: var(--font1);
  font-size: 14pt;
  margin: 0;
}

nav {
  margin: 0;
  background-color: var(--lavender);
}

nav ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  list-style: none; 
  font-family: var(--font3);

  /* border: 1px solid yellow; */
}

nav ul li {
  padding: 10px;
  min-width: 15%;
  font-size: 1.5rem;
  text-align: center;

  /* border: 1px solid red; */
}

nav ul li:hover {
  background-color: var(--lavender);
}

nav ul li a {
  color: var(--white);
  text-decoration: none;
  list-style: none;
}

nav ul li a:hover {
  color: var(--link-hover);
}

nav ul li a:visited {
  text-decoration: none;
}

.breadcrumbs  {
  margin: 0;
  background-color: var(--deep-blue);
}

.assignments-ul  {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
}

footer  {
  margin: 0;
  background-color: var(--lavender);
  color: var(--white);
  font-size: 1rem;
}

.shoe {
  margin: 0 25px;
  padding: 10px;
}

.success  {
  color: green;
  padding: 0 15px;
}

.warning  {
  color: #027ae3;
  padding: 0 15px;
}

.failed {
  color: red;
  padding: 0 15px;
}

.container  {
   margin: 10px;
   padding: 15px;
   border: 5px solid var(--white);
   border-radius: 10px;
}

h1  {
  margin: 5px 0;
}

h3  {
  margin: 20px 0 0 0;
}

input[type=text], input[type=password] {
  -ms-transform: scale(1.1); /* IE */
  -moz-transform: scale(1.1); /* FF */
  -webkit-transform: scale(1.1); /* Safari and Chrome */
  -o-transform: scale(1.1); /* Opera */
  transform: scale(1.1);
  padding: 10px;
  margin: 5px 0 0 9px ;
}

input[type=checkbox] {
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  margin-right: 10px;
}

button[type=submit] {
  width: 25%;
  padding: 7px 10px;
  text-align: center;
  border-width: 0;
}

.btn-div {
  width: 25%;
  padding: 7px 10px;
  text-align: center;
}

.btn-div a {
  text-decoration: none;
}

.btn-div a, button[type=submit]  {
  font-family: var(--font3);
}

.btn-div, button[type=submit]  {
  border-radius: 5px;
  font-size: 1rem;
  background-color: var(--white);
  font: 300 1rem var(--font3);
  color: var(--black
  
  );
}

.btn-div:hover, button[type=submit]:hover  {
  background-color: var(--light-lavender);
}

.default-div  {
  margin: 15px 0px;
}